/* reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* 移动端高亮清除 */
    /* tap-highlight-color: none; */
    -webkit-tap-highlight-color: none;
}
body{
    font-size: 14px;
    color: #ccc;
    font-family: "Microsoft YaHei",sans-serif;
}
a{
    text-decoration: none;  /* 下划线 */
    color: #ccc;
}
input,textarea{
    outline:none;
    border: none;
    resize: none;
    -webkit-appearance: none;
}
u,li{
    list-style: none;
}

/* common.css */
.clearFix::after,
.clearFix::before{
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
}

.ml_10{
    margin-left: 10px;
}
.mr_10{
    margin-right: 10px;
}
.mt_10{
    margin-top: 10px;
}
.mb_10{
    margin-bottom: 10px;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

[class^="icon_"],[class*=" icon_"]{
    content:"";
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-size:200px 200px

}