/*=======reset css=======*/
body{
    font-size: 14px;
    font-family: 'Microsoft YaHei',sans-serif;
    color: #ccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a,
a:hover,
a:focus{
    text-decoration: none;
    color: #ccc;
}

/* 字体图标 自定义 */
@font-face{
    font-family: 'wjs';
    src: 
    url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff');
}
.wjs_icon{
    font-family: 'wjs';
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_logo::before{
    content: "\e920"
}
.navbar-brand .wjs_icon_logo::before
{
    font-size: 30px;
    color: #f00;
}
.wjs_icon_name::before{
    content: "\e93e";
}
.navbar-brand .wjs_icon_name::before
{
    font-size: 30px;
    color: #000;
}
/*=======model css=======*/
.wjs_topBar{
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #ccc;
}
.wjs_topBar .container{
    /* height: 100%;
    border: 1px solid #ccc; */
}
.wjs_topBar .container .row{
   /*  border: 1px solid #ccc; */
}
.wjs_topBar .container .row div{
    height: 40px;
    border-left: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
 }
 .wjs_topBar .container .row div:first-child{
    border-left: none;
 }
 .wjs_app{
     display: block;
     position: relative;
 }
.wjs_app img{
    display:none;
}
.wjs_app:hover img{
    display:block;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 1000000;
}
.wjs_topBar .btn-register,
.btn-register:hover,
.btn-register:visited{
    padding: 3px;
    font-size: 14px;
    background-color: rgb(170, 50, 50);
    color: #fff;
    margin-right: 5px;
}

/* <!-- 导航栏 --> */
.wjs_nav {
    margin-bottom: 0px;
    background-color: none;
    border:none;
    border-bottom: 1px solid #ccc;
  }
  .wjs_nav .navbar-brand {
    height: 80px;
    line-height: 50px;
    color: #777;
    vertical-align: middle;
  }
  .wjs_nav .navbar-brand:hover,
  .wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_nav .navbar-text {
    color: #777;
  }
  .wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 47px;
  }
  .wjs_nav .navbar-nav > li > a:hover,
  .wjs_nav .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
    border-bottom: 3px solid #f00;
  }
  .wjs_nav .navbar-nav > .active > a,
  .wjs_nav .navbar-nav > .active > a:hover,
  .wjs_nav .navbar-nav > .active > a:focus {
    color: #777;
    background-color:none;
    border-bottom: 3px solid #f00;
  }
  .wjs_nav .navbar-nav > .disabled > a,
  .wjs_nav .navbar-nav > .disabled > a:hover,
  .wjs_nav .navbar-nav > .disabled > a:focus {
    color: #777;
    background-color: none;
  }
  .wjs_nav .navbar-toggle {
    border-color: #ddd;
   /*  height: 80px; */
    margin-top: 23px;
  }
  .wjs_nav .navbar-toggle:hover,
  .wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_nav .navbar-collapse,
  .wjs_nav .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav > .open > a,
  .wjs_nav .navbar-nav > .open > a:hover,
  .wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_nav .navbar-link {
    color: #777;
  }
  .wjs_nav .navbar-link:hover {
    color: #333;
  }
  .wjs_nav .btn-link {
    color: #777;
  }
  .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link:focus {
    color: #333;
  }
  .wjs_nav .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
  }
/* 轮播图 */
.wjs_banner{
    height: 400px;
}

.pc_imgBox{
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.m_imgBox{
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.m_imgBox img{
    height: 100%;
    display: block;
}
.wjs_info{}
.wjs_book{}
.wjs_product{}
.wjs_news{}
.wjs_partner{}


