/* reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    /* 移动端链接 */
    -webkit-tap-highlight-color: none;
}
a{
    text-decoration: none;

}

input{
    border: none;
    -webkit-appearance: none;
}
u,li{
    list-style: none;
}

/* common.css */

[class^="icon_"],[class*=" icon_"]{
    content:"";
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-size:200px 200px

}